* {
    font-family: "Brush Script MT", Georgia, fantasy;
}

h1 {
    font-size: 72px;
    font-weight: 200;
}

h3 {
    background-color: rgb(38, 74, 128);
    color: white;
}

#homepage-header {
    text-align: center;
}

.steps {
    color: rgb(15, 14, 82);
}

